<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">VolunteerCenter home</a></li>
        <li><a href="/volunteers">Volunteers</a></li>
        <li><a href="/sites">Sites</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
