<form action="/sites/create" role="form" method="post">
  <div>
    <label for="site_name">Site Name</label>
    <input type="text" id="site_name" name="siteName">
  </div>
  <div>
    <label for="site_addy">Address</label>
    <input type="text" id="site_addy" name="siteAddy">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>