<h1>{{site.siteName}}</h1>
{{#if volunteer}}
<p>created by {{volunteer.firstName}} {{volunteer.lastName}}{{#unless @last}}, {{/unless}}</p>
{{/if}}
<p>
  Originally created by {{volunteer.firstName}}
</p>
