<h1>{{site.siteName}}</h1>
{{#if volunteers}}
<p>Created by {{#each volunteers}}{{this.firstName}} {{this.lastName}}{{#unless @last}}, {{/unless}}{{/each}}</p>
{{/if}}
<p>
  Originally created on {{site.createDate}}
</p>
