<form action="/roles/upsert" role="form" method="post">
<input type="hidden" name="_csrf" value="{{_csrfToken}}">
  <div><h1>Add a new Role</h1></div>
{{#if role}}
    <div>
      <h2>{{role.title}}</h2>
      <input type="hidden" name="id" value="{{roleId}}">
    </div>
{{/if}}
  <div>
    <label for="title">First Name</label>
    <input type="text" id="title" name="title" {{#if role}}value="{{role.title}}"{{/if}}>
  </div>
</form>